:root {
  /* Backgrounds */
  --main-bg-color: #3a4764;
  --sec-bg-color: #182034;
  --text-color: #ffffff;
  --screen-bg: #182034;

  /* Normal Keys */
  --num-key-color: #444b5a;
  --num-key-bg: #e6e6e6;
  --num-key-clicked-bg: #d3d4d6;
  --num-key-shadow: #b4a597;

  /* Del And Reset Keys */
  --reset-del-color: #ffffff;
  --reset-del-bg: #637097;
  --reset-del-clicked-bg: #404e72;
  --reset-del-shadow: #404e72;

  /* Equal & Toggle Keys */
  --equal-toggle-color: #ffffff;
  --equal-toggle-bg: #d03f2f;
  --equal-clicked-bg: #93261a;
  --equal-toggle-shadow: #93261a;
  /* Toggle Key */
  --toggle-keypad-bg: #232c43;
  --toggle-color: #d03f2f;

  /* hover effect */
  --normal-key-hover: #fff;
  --toggle-equal-hover: #f96c5b;
  --del-reset-hover: #a2b2e2;
}
/* Dark theme */
body.dark {
  /* Backgrounds */
  --main-bg-color: #3a4764;
  --sec-bg-color: #182034;
  --text-color: #ffffff;
  --screen-bg: #182034;

  /* Normal Keys */
  --num-key-color: #444b5a;
  --num-key-bg: #e6e6e6;
  --num-key-clicked-bg: #d3d4d6;
  --num-key-shadow: #b4a597;

  /* Del And Reset Keys */
  --reset-del-color: #ffffff;
  --reset-del-bg: #637097;
  --reset-del-clicked-bg: #404e72;
  --reset-del-shadow: #404e72;

  /* Equal & Toggle Keys */
  --equal-toggle-color: #ffffff;
  --equal-toggle-bg: #d03f2f;
  --equal-clicked-bg: #93261a;
  --equal-toggle-shadow: #93261a;
  /* Toggle Key */
  --toggle-keypad-bg: #232c43;
  --toggle-color: #d03f2f;

  /* hover effect */
  --normal-key-hover: #fff;
  --toggle-equal-hover: #ff8b38;
  --del-reset-hover: #62b5bd;
}
/* Light Theme */
body.light {
  /* Backgrounds */
  --main-bg-color: #e6e6e6;
  --sec-bg-color: #ededed;
  --text-color: #35352c;
  --screen-bg: #ededed;

  /* Normal Keys */
  --num-key-color: #444b5a;
  --num-key-bg: #e6e6e6;
  --num-key-clicked-bg: #d3d4d6;
  --num-key-shadow: #a69d91;

  /* Del And Reset Keys */
  --reset-del-color: #ffffff;
  --reset-del-bg: #377f86;
  --reset-del-clicked-bg: #404e72;
  --reset-del-shadow: #1b5f65;

  /* Equal & Toggle Keys */
  --equal-toggle-color: #ffffff;
  --equal-toggle-bg: #ca5502;
  --equal-clicked-bg: #93261a;
  --equal-toggle-shadow: #893901;

  /* Toggle Key */
  --toggle-keypad-bg: #d1cccc;
  --toggle-color: #ca5502;
}
body.eco {
  --main-bg-color: #160628;
  --sec-bg-color: #1d0934;
  --text-color: #ffe53d;
  --screen-bg: #1d0934;

  /* Normal Keys */
  --num-key-color: #ffe53d;
  --num-key-bg: #341c4f;
  --num-key-clicked-bg: #6c3ea0;
  --num-key-shadow: #871c9c;

  /* Del And Reset Keys */
  --reset-del-color: #ffffff;
  --reset-del-bg: #58077d;
  --reset-del-clicked-bg: #404e72;
  --reset-del-shadow: #bc15f4;

  /* Equal & Toggle Keys */
  --equal-toggle-color: #1b2428;
  --equal-toggle-bg: #00e0d1;
  --equal-clicked-bg: #0eeedf;
  --equal-toggle-shadow: #6cf9f2;

  /* Toggle Key */
  --toggle-keypad-bg: #1d0934;
  --toggle-color: #00e0d1;

  /* hover effect */
  --normal-key-hover: #6b34ac;
  --toggle-equal-hover: #93fff9;
  --del-reset-hover: #8731b0;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  height: 100vh;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}
.container {
  height: 100vh;
  min-height: 100vh;
  padding: 30px 20px;
  margin: auto;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
header .logo {
  font-size: 2rem;
}
/* Show Btn For Information */
.info-btn {
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: var(--toggle-keypad-bg);
  border: none;
  border-radius: 20px;
  padding: 15px;
  color: var(--toggle-color);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
/* Theme Toggle */
header .theme-toggle {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
}
/* Theme Toggle Label */
header h4 {
  margin-bottom: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
/* Theme Toggle Status */
.status {
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
}
/* Theme Toggle Switch */
.toggle-switch {
  border-radius: 34px;
  background-color: var(--toggle-keypad-bg);
  position: relative;
  width: 70px;
  height: 25px;
  cursor: pointer;
  margin: 4px 0;
}
/* Theme Toggle Slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-keypad-bg);
  border-radius: 34px;
  transition: background-color 0.4s ease;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Theme Toggle Circle */
.circle {
  position: absolute;
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: var(--toggle-color);
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
/* the screen input */

.screen {
  background-color: var(--screen-bg);
  margin: 40px 0 20px 0;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 12vh;
  font-size: 2.5rem;
  color: var(--text-color);
  text-align: right;
  padding: 20px;
}
.screen:focus {
  outline: none;
}
.screen::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

/* Keys Wrapper */
.keys-wrapper {
  height: 65vh;
  background-color: var(--toggle-keypad-bg);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 13px;
}
/* All Buttons */
.keys-wrapper .key {
  padding: 10px 5px;
  width: 100%;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--num-key-color);
  border: none;
  border-radius: 5px;
  background-color: var(--num-key-bg);
  color: var(--num-key-color);
  box-shadow: 0px 4px var(--num-key-shadow);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
/* Button Click Effects */
.keys-wrapper .key:active {
  background-color: var(--num-key-clicked-bg);
  transform: translateY(4px);
  box-shadow: 0px 0px var(--num-key-shadow);
}
/* Special Keys */
#reset,
#delete,
#equal {
  font-size: 1.2rem;
}
#reset,
#delete {
  color: var(--reset-del-color);
  background-color: var(--reset-del-bg);
  box-shadow: 0px 4px var(--reset-del-shadow);
}
/* reset & equal clicked effects */
#reset:active,
#delete:active {
  background-color: var(--reset-del-clicked-bg);
}
#equal {
  color: var(--equal-toggle-color);
  background-color: var(--equal-toggle-bg);
  box-shadow: 0px 4px var(--equal-toggle-shadow);
}
/* Equal Key Clicked Effects */
#equal:active {
  background-color: var(--equal-clicked-bg);
}

#reset,
#equal {
  grid-column: span 2;
}

/* information window */
.info-window {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--sec-bg-color);
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
  clip-path: circle(0% at center);
  transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.info-window.open {
  clip-path: circle(75% at center);
}
.close-btn {
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--num-key-bg);
  color: red;
  border: none;
  border-radius: 50%;
  padding: 5px;
}
.close-btn:hover {
  background-color: red;
  color: #fff;
}
.info-window span {
  font-size: 1rem;
  font-weight: 100;
  font-style: italic;
}
.info-window span a {
  transition: color ease-in-out 0.3s;
  color: var(--reset-del-bg);
}
.info-window span a:hover {
  color: var(--toggle-color);
}

/* =========== */
/* media query */
/* =========== */

/* ========= */
/* 1. Tablet */
/* ========= */
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 520px;
    height: auto;
    min-height: auto;
    padding: 30px 25px;
  }

  .show-num {
    height: 12vh;
    font-size: 3rem;
    margin: 30px 0 20px 0;
  }

  .keys-wrapper {
    padding: 25px;
    gap: 18px;
  }

  .keys-wrapper .key {
    height: 9vh;
    font-size: 2.2rem;
    border-radius: 10px;
  }
  /* information window */
  .info-window {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sec-bg-color);
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    clip-path: circle(0% at center);
    transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .info-window.open {
    clip-path: circle(75% at center);
  }
  .close-btn {
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--num-key-bg);
    color: red;
    border: none;
    border-radius: 50%;
    padding: 5px;
  }
  .close-btn:hover {
    background-color: red;
    color: #fff;
  }
  .info-window span {
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
  }
  .info-window span a {
    transition: color ease-in-out 0.3s;
    color: var(--reset-del-bg);
  }
  .info-window span a:hover {
    color: var(--toggle-color);
  }
}

/* ========== */
/* 2. Laptop */
/* ========== */
@media (min-width: 1024px) {
  body {
    display: flex;
  }
  .container {
    max-width: 540px;
    padding-block: 0px;
    padding-inline: 40px;

    margin: auto;
  }

  .show-num {
    height: 12vh;
    font-size: 3.25rem;
    padding: 25px;
    border-radius: 15px;
  }

  .keys-wrapper {
    height: 100%;
    padding: 30px;
    gap: 20px;
    border-radius: 15px;
  }

  .keys-wrapper .key {
    height: 9vh;
    font-size: 2rem;
    border-radius: 12px;
  }
  .keys-wrapper .key:hover {
    background-color: var(--normal-key-hover);
  }
  #reset:hover,
  #delete:hover {
    background-color: var(--del-reset-hover);
  }
  #equal:hover,
  #circle:hover {
    background-color: var(--toggle-equal-hover);
  }
  #reset,
  #delete,
  #equal {
    font-size: 1.4rem;
  }
  /* information window */
  header .info-btn:hover {
    transform: rotateY(180deg) scale(1.3);

    color: var(--toggle-keypad-bg);
    background-color: var(--toggle-color);
  }

  .info-window {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sec-bg-color);
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    clip-path: circle(0% at center);
    transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
  }
  .info-window.open {
    clip-path: circle(75% at center);
  }
  .close-btn {
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--num-key-bg);
    color: red;
    border: none;
    border-radius: 50%;
    padding: 5px;
    transition:
      color ease-in-out 0.3s,
      background-color ease-in-out 0.3s;
  }
  .close-btn:hover {
    background-color: red;
    color: #fff;
  }
  .info-window span {
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
  }
  .info-window span a {
    transition: color ease-in-out 0.3s;
    color: var(--reset-del-bg);
  }
  .info-window span a:hover {
    color: var(--toggle-color);
  }
}

/* =========== */
/* 3. Desktop */
/* =========== */
@media (min-width: 1440px) {
  body {
    display: flex;
  }
  .container {
    max-width: 580px;
    padding: 35px 35px;
  }

  .show-num {
    height: 12vh;
    font-size: 4rem;
    padding: 30px;
  }

  .keys-wrapper {
    height: 100%;
    padding: 35px;
    gap: 25px;
  }
  /* The Keys */
  .keys-wrapper .key {
    height: 100%;
    font-size: 2.8rem;
    border-radius: 15px;
    box-shadow: 0px 6px var(--num-key-shadow);
  }
  #reset,
  #delete,
  #equal {
    font-size: 2rem;
  }
  /* Hover Effects */
  .keys-wrapper .key:hover {
    background-color: var(--normal-key-hover);
  }
  #reset:hover,
  #delete:hover {
    background-color: var(--del-reset-hover);
  }
  #equal:hover,
  #circle:hover {
    background-color: var(--toggle-equal-hover);
  }
  /* information window */
  .info-window {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sec-bg-color);
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    clip-path: circle(0% at center);
    transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .info-window.open {
    clip-path: circle(75% at center);
  }
  .close-btn {
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--num-key-bg);
    color: red;
    border: none;
    border-radius: 50%;
    padding: 5px;
    transition:
      color ease-in-out 0.3s,
      background-color ease-in-out 0.3s;
  }
  .close-btn:hover {
    background-color: red;
    color: #fff;
  }
  .info-window span {
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
  }
  .info-window span a {
    transition: color ease-in-out 0.3s;
    color: var(--reset-del-bg);
  }
  .info-window span a:hover {
    color: var(--toggle-color);
  }
}
